/* El contenedor que envuelve a ambos bloques */
.header {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row; /* Los alinea en una fila horizontal */
    gap: 20px; /* Opcional: espacio de separación entre las columnas */
}

/* Asignación de tamaños específicos a los hijos */
.contendorPrincipalFoto {
    flex: 0 0 20%; /* No crece, no se encoge, base exacta del 20% */
}

.contenedorInformacionPersonal {
    flex: 0 0 80%; /* No crece, no se encoge, base exacta del 80% */
}

.foto{
    background-color: #E8BBFA;
    width: 100%;
    
}

.foto img{
    display: flex; 
    border-radius: 40%;
    padding: 5px;
    width: 100%;
    height: 100%;
    
}

.contacto {
    display: flex;
    margin-left: 42%;
    color: white;
}

.habili{
    display: flex;
    margin-left: 32%;
    color: white;
}
.idi{
    display: flex;
    margin-left: 32%;
    color: white;
}
p{
    display: flex;
    margin-left: 7%;
    color: rgb(0, 0, 0);
}
li{
    margin-left: 10%;
    color: rgb(0, 0, 0);

}

/*parte derecha*/
.contenedorInformacionPersonal{
    
    background-color: rgb(229, 241, 240);
    width: 50%;
    height: 100%;

}
.texto h1{
   
    text-align: center;
    color: white;
   
}
.texto p{
    text-align: center;
    color: white;
    padding: 10px;

}

